*{
    margin: 0%;
    padding: 0%;
}
body{
    font-family: "Roboto", sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Playfair Display", serif;
}
/* navbar */
.sidebarMenu{
    height: 90%;
    position: fixed;
    left: 0;
    top: 0;
    width: 480px;
    margin-top: 0px;
    background-color: #fff;
    transform: translateX(-480px);
    transition: transform 250ms ease-in-out;
    z-index: 999;
    box-shadow: 0px 20px 50px rgba(70, 129, 255, 0.1);
  }
  #openSidebarMenu:checked ~ .sidebarMenu{
    transform: translateX(0px);
  }
  .spinner.middle,.spinner.bottom{
    margin-top: 3px;
  }
  .spinner.short{
    width: 20px !important;
  }
  .sidebarIconToggle{  
    width: 32px;
    height: 22px;
    position: fixed;
    z-index: 99999;
    top: 34px;
    cursor: pointer;
    padding-top: 3px;
    padding-left: 3px;
  }
  .spinner{
    height: 2px;
    background: #222222;
    transition: all 0.3s; 
    
  }
  #openSidebarMenu:checked ~ .sidebarIconToggle > .spinner.middle{
    opacity: 0;
  }
  #openSidebarMenu:checked ~ .sidebarIconToggle > .spinner.top{
    transform: rotate(135deg);
    margin-top: 8px;
    
  }
  #openSidebarMenu:checked ~ .sidebarIconToggle > .spinner.bottom{
    transform: rotate(-135deg);
    margin-top: -18px
  }
  .navbar-heading{
    font-size: 50px;
    font-weight: 600;
  }
  .menu li{
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 500;
  }
  .header-btn{
    background: transparent;
   
    position: relative;
  }
  .header-btn button{
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #222222;
    border: 1px solid #f8b600;
  }
  .header-btn i{
    right: -18px;
  }
  .header-btn button:hover{
    background-color: #f8b600;
  }
  .header-btn:hover.header-btn i{
    right: -26px;
  }
/* 
  header */
   .header .main-heading{
    font-size: 50px;
    font-weight: 500;
    line-height: 1;
   }
  
   @media screen and (max-width: 768px) {
    .header {
      margin-top: 5%;
    }
    .header{
      background-image: url('images/banner-img.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
     }
    .header p{
      color: #fff;
     }
     .header .main-heading{
      font-size: 40px;
      color: #fff;
     }
     .header .header-btn button{
     color: #eeeeee;
    }
    

  }
  @media screen and (max-width: 568px) {
    .header {
      margin-top: 7%;
    }
    .header-content{
      padding-left: 5% !important;
      padding-right: 5% !important;
     }
     .sidebarMenu{
      height: 60%;
      width: 320px;
      transform: translateX(-320px);
    }
    }
    @media screen and (max-width: 468px) {
      .sidebarMenu{
        height: 40%;
        width: 280px;
        transform: translateX(-280px);
      }
    }
  
   header p{
    font-size: 14px;
    color: #777777;
   }
   .header-image{
    width: 100%;
    height: 550px;
   }
   .image-text h6{
     font-size: 20px;
     font-weight: 600;
   }
   .image-text{
    top: 62%;
    left: 13%;
   }
   .image-text p{
    font-size: 13px;
    text-transform: uppercase;
   }
   .header-content{
    padding-left: 10%;
    padding-right: 10%;
   }
   .video-play{
    background-color: #007bff;
    border-radius: 50px;
     padding: 6%;
    border-radius: 50%;
    left: -40px;
    box-shadow: 0px 10px 30px rgba(39, 0, 110, 0.3);
    animation: pulse-animation 2s infinite;
   }
   .video-play i{
    font-size: 22px;
   }
   @keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0 rgb(240, 240, 240);
    }
    70% {   
        box-shadow: 0 0 0 30px rgb(240, 240, 240);
    }
    100% {
        box-shadow: 0 0 0 0 rgb(240, 240, 240);
    }
}

/* 
popular place area section */

.main-title h1{
font-size: 48px;
text-transform: capitalize;
margin-bottom: 30px;
font-weight: 700;
color: #222222;
line-height: 110%;
}
@media screen and (max-width: 768px) {
  .main-title h1{
    font-size: 38px;
    text-transform: capitalize;
  }
  .box-2,.box-4{
    margin-left: 0% !important;
  }
}
.main-title p{
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #777777;
    line-height: 27px;
}
.popular-place-area-section .left-content {
  position: relative;
}
.left-content .img2{
  position: absolute;
  top: 2%;
  right: -10%;
  width: auto;
}
.left-content .img3{
  position: absolute;
  top: 75%;
  left: 0%;
  width: auto;
}
 .box-1,.box-2,.box-3,.box-4{
  text-align: center;
  padding: 30px;
  border: 1px solid #eeeeee;
  display: inline-block;
  height: 170px;
  width: 165px;
}
.box-2,.box-4{
  margin-left: -25%;
}
.box-1 h4,.box-2 h4,.box-3 h4,.box-4 h4{
    font-size: 24px;
    font-weight: 700;
    font-family: "Playfair Display", serif;
}
.box-1 p,.box-2 p,.box-3 p,.box-4 p{
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #777777;
}
.icons i{
  font-size: 25px;
  color: #007bff;
}
.box-1:hover .icons i,
.box-2:hover .icons i,
.box-3:hover .icons i,
.box-4:hover .icons i{
  color: #fff;
}
.box-1:hover.box-1 h4,
.box-2:hover.box-2 h4,
.box-3:hover.box-3 h4,
.box-4:hover.box-4 h4{
  color: #fff;
}
.box-1:hover.box-1 p,
.box-2:hover.box-2 p,
.box-3:hover.box-3 p,
.box-4:hover.box-4 p{
  color: #fff;
}
.box-1:hover,.box-2:hover,.box-3:hover,.box-4:hover{
  background-color: #007bff;
}

/* .tour-plan-section */

.tour-plan-btn{
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #222222;
 
}
.tour-plan-btn button{
  border: 1px solid #f8b600;
  background-color: transparent;
  text-transform: uppercase;
  color: #222222;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
}
.tour-plan-btn button:hover{
 background-color: #f8b600;
}
.owl-custom-btn{
  margin-top: -3%;
}
.owl-prev button,.owl-next button{
  font-size: 12px;
  font-weight: 600;
}
.arrow-icon-left{
 margin-top: -5%;
}
.arrow-icon-right{
  margin-top: -5%;
  margin-left: 3%;
 }
 .owl-next{
  margin-top: -5%;
 }
 
 /* benifits-section */
 .benifits-section{
 
 }
 .card-content{
  border: 1px solid #eee;
 }
 .card-content h4{
    line-height: 27px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #777777;
    text-transform: uppercase;
 }
 .card-content h1{
  color: #222222;
  font-size: 18px;
  font-weight: 600;
 }
 .card-content p{
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #777777;
  line-height: 2;
 }
 .card-content:hover{
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid transparent;
 }
 @media screen and (max-width: 768px) {
  .car-rental-card{
    margin-top: 5%;
  }
}

